@import "tailwindcss";



@theme{

    /*  font family */
    
  --font-poppins: 'Poppins', sans-serif;
  

    /* colors */
  
  --color-primary: #FF4000;
  --color-primary-dark: #F0450B;
  --color-Primary-Extra-Dark: #E33900;
  
}